<div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center;">

  <article class="center bg-white-80 mw5 mw6-ns br3 hidden ba b--black-10 mv6">
    <h1 class="f2 br3 br--top black-60 mv0 pv2 ph3">Create An Event</h1>
    <article class="pa4 center avenir black-80">

        <form class="pa4">
            <fieldset id="tags" class="bn">
                   
               <label class="fw7 mb2">Pick some tags!</label>
               
                <form (ngSubmit)="onSubmit()">
                  <div *ngFor="let tags of tags">
                    <label>
                      <input type="checkbox" 
                              name="tags"
                              value="{{tags.id}}" 
                              [(ngModel)]="tags.checked"
                       />
                      <span innerHTML="{{tags.name}}"></span>
                    </label>
                  </div>
                </form>
                 
               </fieldset>
             </form>
      <form action="/events" class="" method="post" (ngSubmit)="onSubmit()" accept-charset="utf-8">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="ph0 mh0 fw6 clip">Create Event</legend>
          <!-- <div class="mt3"> -->
          <div class="tc mt3 form-group">
            <label class="db fw4 lh-copy f6" for="Location">Name</label>
            <input class="pa2 input-reset ba bg-solid-white w-100 measure form-control" type="text" name="name" [(ngModel)]="model.name"
              #name="ngModel" required>
          </div>
          <div class="mt3 form-group">
            <label class="db fw4 lh-copy f6" for="date">When?</label>
            <input class="pa2 input-reset tc ba bg-solid-white w-100 measure form-control" type="date" name="date" [(ngModel)]="model.date"
              #name="ngModel" required>
          </div>
          <div class="mt3 form-group">
            <label class="db fw4 lh-copy f6" for="Location">What's your start time?</label>
            <input class="pa2 input-reset ba bg-solid-white w-100 measure form-control" type="time" name="start_time" [(ngModel)]="model.start_time" #name="ngModel" required>
          </div>
          <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">What's your end time?</label>
              <input class="pa2 input-reset ba bg-solid-white w-100 measure form-control" type="time" name="end_time" [(ngModel)]="model.end_time" #name="ngModel" required>
            </div>
          <div class="mt3 form-group">
            <label class="db fw4 lh-copy f6" for="Location">Where?</label>
            <input class="pa2 input-reset ba bg-solid-white w-100 measure form-control" type="text" name="location">
          </div>
          <div class="mt3 form-group">
            <label class="db fw4 lh-copy f6" for="Location">How much?</label>
            <input class="pa2 input-reset ba bg-solid-white w-100 measure form-control" type="number" name="price" [(ngModel)]="model.price"
              #name="ngModel" required>
          </div>
          <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Create Event"></div>

        </fieldset>
<div class="container">
  <h1>Angular 2 + Google Maps Places Autocomplete</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>
