<header class="tc avenir ph4">
    <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
      Create an Event
    </h1>
    <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
      This is where users can create events if they are logged in and submit them to the database for community use.
    </h2>
  </header>

<article class="pa4 tc avenir black-80">
    <form action="/events" method="post" (ngSubmit)="onSubmit()" accept-charset="utf-8">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="ph0 mh0 fw6 clip">Create Event</legend>
        <div class="mt3">
            <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">Name</label>
              <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required>
            </div>
              <label class="db fw4 lh-copy f6" for="date">When?</label>
              <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="date" name="date" [(ngModel)]="model.date" #name="ngModel"  required>
        </div>
        <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">What time?</label>
              <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="time" name="time" id="time" [(ngModel)]="model.time" #name="ngModel"  required>
        </div>
        <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">Where?</label>
              <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="text" name="location" >
        </div>
        <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">How much?</label>
              <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="number" name="price"  [(ngModel)]="model.price" #name="ngModel"  required>
        </div>
        
      </fieldset>
    
      <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Create Event"></div>
    </form>
  </article>

  <section *ngFor="let events of events" class="tc pa3 pa5-ns">
    <article class="hide-child relative ba b--black-20 mw5 center">
      <img src="https://cataas.com/cat" class="db" alt="Photo of Jesse Grant" />
      <div class="pa2 bt b--black-20">
        <a class="f6 db link dark-blue hover-blue" href="#">{{events.name}}</a>
        <p class="f6 gray mv1">{{events.date | date : 'shortDate'}}<br>{{events.time | date: 'shortTime'}}</p>
        <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f6 br1" href="#">${{events.price}}</a>
      </div>
      <a class="child absolute top-1 right-1 ba bw1 black-40 grow no-underline br-100 w1 h1 pa2 lh-solid b" href="#"></a>
    </article>
  </section>
