  <div class="flex-ns flex-column-m vh-100 w-100">
      <div class="f1 w-25-ns ma2 w-100-m mt5-ns mt2-m blue">
        <form class="pa4">
            <fieldset id="search" class="f6">
              <legend class="fw7 mb2">Search</legend>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="music" value="music">
                <label for="music" class="lh-copy">Music</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="drink" value="drink">
                <label for="drink" class="lh-copy">Drink</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="social" value="social">
                <label for="social" class="lh-copy">Social</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="grub" value="grub">
                <label for="grub" class="lh-copy">Grub</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="classes" value="classes">
                <label for="classes" class="lh-copy">Classes</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="sports" value="sports">
                <label for="sports" class="lh-copy">Sports</label>
              </div>
              <div class="flex items-center mb2">
                <input class="mr2" type="checkbox" id="art" value="art">
                <label for="art" class="lh-copy">Art & Culture</label>
              </div>


              <div class="mt3 w-90 form-group">
                  <label class="db fw4 lh-copy f6" for="date">When?</label>
                  <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="date" name="date" [(ngModel)]="model.date" #name="ngModel"  required>
            </div>
            
            <div class="mt3 form-group">
                  <label class="db fw4 lh-copy f6" for="Location">Where?</label>
                  <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="text" name="location" >
            </div>
            <div class="mt3 form-group">
                  <label class="db fw4 lh-copy f6" for="Location">What's your budget?</label>
                  <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="number" name="budget"  [(ngModel)]="model.budget" #name="ngModel"  required>
            </div>
            <div class="mt3 form-group">
              <label class="db fw4 lh-copy f6" for="Location">What time?</label>
              <nouislider [connect]="true" [min]="0" [max]="24" [step]="0.5" type="time" name="time" id="time" [(ngModel)]="someRange" #name="ngModel" required></nouislider>
              <!-- <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="time" ng-readonly="checked" name="start_time" value= "{{convertToTimeMin(someRange)}}"  [(ngModel)]="model.start_time" #name="ngModel"  required> -->
              <h3 type="time">Start Time: {{convertToTimeMin(someRange)}}</h3>
              <!-- <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="time" ng-readonly="checked" name="end_time" value= "{{convertToTimeMax(someRange)}}" [(ngModel)]="model.end_time" #name="ngModel"  required> -->
              <h3 type="time">End Time: {{convertToTimeMax(someRange)}}</h3>
              
              <!-- <input class="pa2 input-reset ba bg-transparent w-100 measure form-control" type="time" name="time" id="time" [(ngModel)]="model.time" #name="ngModel"  required> -->
            </div>
            </fieldset>
        <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Submit!"></div>
            
          </form>
      </div>
            <div class="f1 w-75-ns w-100-s mt5-ns mt2-m tc gray ">
                <button (click)="toggle()" class="f5 db" id="bt">
                    {{buttonName}}
                </button>

                <ng-container *ngIf="show">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DPBvMsT3prg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </ng-container>
                
            <main class="mw6 center">
              <article *ngFor="let event of events" >
                <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="#0">
                  <div class="dtc w3">
                    <img src="http://mrmrs.github.io/images/0010.jpg" class="db w-100"/>
                  </div>
                  <div class="dtc v-top pl2">
                    <h1 class="f6 f5-ns fw6 lh-title black mv0">{{event.name}}</h1>
                    <h2 class="f6 fw4 mt2 mb0 black-60">{{event.date | date: 'shortDate' }} <br> {{event.time | date: 'shortTime'}} </h2>
                    <dl class="mt2 f6">
                      <dt class="clip">Price</dt>
                      <dd class="ml0">{{event.price}}</dd>
                    </dl>
                  </div>
                </a>
              </article>
            </main>


  </div>