<article class="vh-100 cover dt w-100 bg-washed-yellow" style="background-image: url(https://github.com/forrestblade/images/blob/master/Photos/adult-boy-child-325521.jpg?raw=true)">
  <div class="tc-l dtc v-mid v-mid ph5">
      <h1 class="f-headline-l washed-yellow mb0 ">{{title}}</h1>
      <h2 id="sub" class="fw1 washed-yellow f3 mt3 mb4">{{tagline}}</h2>
      <a class="f4 no-underline grow dib v-mid bg-dark-green washed-yellow br4 b--washed-yellow ph3 pv2 mb3" routerLink="/search">Search Now</a>
      <span class="dib v-mid ph3 washed-yellow mb3">or</span>
      <a class="f4 no-underline grow dib v-mid dark-green br4 bg-washed-yellow b--dark-green ph3 pv2 mb3" routerLink="/events">Create Event</a>
    </div>
  </article>