<article class="vh-100 fill cover ph7 dt w-100" style="background-image: url(https://github.com/forrestblade/images/blob/master/Photos/adult-boy-child-325521.jpg?raw=true)">
  <div class="tc dtc v-mid">
      <h1 class="f-headline mb0 navy">{{title}}</h1>
      <h2 id="sub" class="fw1 moon-gray f3 mt3 mb4">{{tagline}}</h2>
      <a class="f4 no-underline grow dib v-mid bg-washed-green navy br4 b--moon-gray ph3 pv2 mb3" routerLink="/search">Search Now</a>
      <span class="dib v-mid ph3 moon-gray mb3">or</span>
      <a class="f4 no-underline grow dib v-mid washed-green br4 bg-navy b--navy ph3 pv2 mb3" routerLink="/events">Create Event</a>
    </div>
  </article>