<div class="cf mw9 center tc">
  <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center;">

    <article class="left mw5 mw6-ns br3 hidden mv4">
      <h1 class="f8 fw6 f1-ns lh-title measure mt0">Find something to do wherever you are.</h1>
      <!-- <div class="pa3 bt b--black-10">-->
      <div>
        <p class="f5 f4-ns fw4 b measure dib-m lh-copy">
          We created Eventsnap with the purpose of finding new and exciting experiences. Connecting people that otherwise wouldn't
          have connected.
        </p>
      </div>
    </article>
    <!-- <div class="pb3 pb4-ns pt4 pt5-ns mt4 black-70 fl-l w-50-l">
    <h1 class="f4 fw6 f1-ns lh-title measure mt0">
      Find something to do wherever you are.
    </h1>
    <p class="f5 f4-ns fw4 b measure dib-m lh-copy">
      We created Eventsnap with the purpose of finding new and exciting experiences.  Connecting people
      that otherwise wouldn't have connected. Made for you, by us.
    </p> -->

    <!-- </div> -->
    <div class="fl-r w-50-r tc-ns pt3 pt4-m pt1-l">
      <a class="f4 b no-underline grow dib v-mid black ba b--black ph3 pv2 mb3" routerLink="/search">Search Now</a>
      <span class="dib v-mid ph3 black-70 mb3">or</span>
      <a class="f4 b no-underline grow dib v-mid black ba b--black ph3 pv2 mb3" routerLink="/events">Create Event</a>

    </div>
  </div>
</div>



<!-- <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
    <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">Title of card</h1>
    <div class="pa3 bt b--black-10">
      <p class="f6 f5-ns lh-copy measure">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum.
      </p>
    </div>
  </article> -->