
<nav class="flex justify-between z-5 sticky w-100 h3 br3 bg-light-red">
  <a class="link washed-yellow hover-dark-gray no-underline flex items-center pa3" routerLink="">
{{title}}  </a>
  
  <div class="flex pa3 items-center transition-transform dn-l" id="hamburger">
  <a class="f4 link dib dark-green hover-dark-grey dim mr3 mr4-ns rotate-90" routerLink="#">|||</a>
  </div>
  
  <div class=" pa4 pa3-l flex-l items-center h-100 h-inherit-l fixed relative-l top-0 right-0 transition-transform transform-off bb b--washed-yellow bg-light-red bn-l" id="sidebar" >
    <a class="db mb3 mb0-l pa0-l mb f6 link washed-yellow dim mr3 mr4-ns" 
routerLink="/search">
Search</a>
      <a class="db mb3 mb0-l pa0-l mb f6  link washed-yellow dim mr3 mr4-ns" 
      routerLink="/events">
        Create Event</a>
  <a class="db mb3 mb0-l pa0-l mb f6 link washed-yellow dim mr3 mr4-ns" *ngIf="auth.isAuthenticated()"
  routerLink="/profile">
    Profile</a>
    <a class="db mb3 mb0-l pa0-l mb f6 link washed-yellow dim mr3 mr4-ns" routerLink="/plan" *ngIf="auth.isAuthenticated()"
  >
    Make a plan</a>
  <a class="db f6 washed-yellow bg-animate bg-dark-green hover-bg-dark-gray no-underline pv3 ph4 br4" *ngIf="!auth.isAuthenticated()"
  (click)="auth.login()">
    Log In</a>
  <a class="db f6 washed-yellow bg-animate bg-dark-green hover-bg-dark-gray no-underline pv3 ph4 br4" *ngIf="auth.isAuthenticated()"
  (click)="auth.logout()">
    Log Out</a>
  </div>
  </nav>
  
  
  
  
  
<main class="container">
  <router-outlet class="z-0 principles"></router-outlet>
</main>
