<!-- <article class="cf ph7 pt5 bg-washed-yellow min-vh-100 w-100 ">
    <h1>Profile</h1>
    <div class="tc f1 w-third pa4 ph4 br3 shadow-5 bg-near-white">
        
      </div>
    <div id="two" class="f1 w-two-thirds">
        
    </div>
   
</article> -->
<div class="cf ph7 pt4">
    <div class="fl w-third-ns w-100 tc pa4 br3 shadow-5 bg-near-white">
        <img src="{{profile.picture}}" class=" h-50 w-50 br3" title="">
        <h1 class="f4">{{profile.nickname}}</h1>
        <hr class="mw3 bb bw1 b--black-10">
        <p class="lh-copy measure center f6 black-70">

            {{profile | json}}
            <br>
            {{profile['http://localhost:4200/']}}

        </p>
    </div>
    <div class="fl w-100 br3 w-two-thirds-ns shadow-5 tc pv3 bg-black-10">
        <ul id="list" class="">
            <li class="mh3 br3">
                <a class="pointer">Plans</a>
            </li>
            <li class="mh3 br3">
                <a class="pointer">Settings</a>
            </li>
        </ul>

    </div>
<div class="fl w-100 br3 w-two-thirds-ns shadow-5 tc pv3 bg-black-10">
   

</div>

</div>