<div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.pexels.com/photos/867483/pexels-photo-867483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350) no-repeat center;">
  <article class="mw5 left bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="panel panel-default profile-area">
      <div class="panel-heading">
        <h3 class="f2  br3 br--top black-60 mv0 pv2 ph3">My Eventsnap</h3>
      </div>
      <div class="panel-body">
        <img src="{{profile?.picture}}" class="avatar" alt="avatar">
        <div>
          <label>
            <i class="glyphicon glyphicon-user"></i> Nickname</label>
          <h3 class="f8 br3 br--top black-60 mv0 pv2 ph3 nickname">{{ profile?.nickname }}</h3>
        </div>
        <!-- <pre class="full-profile">{{ profile | json }}</pre> -->
      </div>
    </div>
  </article>
<span></span>
<article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
  <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">Title of card</h1>
  <div class="pa3 bt b--black-10">
    <p class="f6 f5-ns lh-copy measure">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</article>

  <!-- 
<mat-card *ngFor="let users of users">
    <mat-card-header>
      <mat-card-title>{{users.username}}</mat-card-title>
    
    </mat-card-header>
  </mat-card>

  import { Users } from '../users';
import { EventService } from '../event.service';

import { Component, OnInit } from '@angular/core';

@Component({
 selector: 'app-user',
 templateUrl: './user.component.html',
 styleUrls: ['./user.component.css']
})
export class UserComponent implements OnInit {


 users: Array<Users>

 //get Users retrieves from database using service
 getUsers() {
   this.eventService.getUsers()
   .subscribe(data => this.users = data);
 }



  

 

 constructor(private eventService: EventService) { }

 //Get users function runs as the page loads
 ngOnInit() {
   this.getUsers();
 }

}
 -->