<mat-toolbar color="primary">

  <button id="home" mat-button routerLink="/">
  <mat-icon>home</mat-icon> 
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/search">Search</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/signup">Signup</button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/search">Search</button>
  <button mat-menu-item routerLink="/login">Login</button>
  <button mat-menu-item routerLink="/signup">Signup</button>
  
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>